
/* sign up*/
.text-sign-up{
    font-size: 30px;
                font-family: 'Comfortaa', cursive;
color: #D91AA0;
}
/* flecha izquierda*/
.glyphicon-chevron-left{
    font-size: 25px;
    margin-left: 150%;
    margin-top: 5%;
}
/* columbas contenedoras de sign up , flecha */
.uno{
    margin-top: 4%;
}
/*?*/
.container-select{
        margin-left: 205%;
            margin-top: 10%;
}

/*flecha izquierda*/
.flecha-iz{
margin-left: 40%;
    margin-top: 25%;
    color: orchid;}

/* linea bajo el titulo*/
.linea-division{

    border-top: 1px solid #9d9d9d;
        width: 95%;
    margin: 1% 0% 5% 2%;
}
 /*CHECK BOX*/
.i-agree{
display: inline-block;
}
 /*links terminos*/
.link-terms{
            font-family: 'Comfortaa', cursive;

text-decoration-style: none;
color:#D91AA0;
}

/* links terminos hover*/
a:hover{
    text-decoration:none;
    color: gray;
}


body{
            font-family: 'Comfortaa', cursive;

}

.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.boton-next{
    margin-top: 2%;
  font-family: 'Comfortaa', cursive;
  color: #FFFFFF !important;
  font-size: 19px;
  box-shadow: 0px 1px 2px #EB20F9;
    padding: 12px 62px;
    width: 100%;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  border: 2px solid #D91AA0;
  background: #63B8EE;
  background: linear-gradient(top,  #BC13C2,  #FF5CE9);
  background: -ms-linear-gradient(top,  #BC13C2,  #FF5CE9);
  background: -webkit-gradient(linear, left top, left bottom, from(#BC13C2), to(#FF5CE9));
  background: -moz-linear-gradient(top,  #BC13C2,  #FF5CE9);
}
.boton-next:hover {
  color: #FFFFFF !important;
  background: #468CCF;
  background: linear-gradient(top,  #CF11AF,  #DE51EE);
  background: -ms-linear-gradient(top,  #CF11AF,  #DE51EE);
  background: -webkit-gradient(linear, left top, left bottom, from(#CF11AF), to(#DE51EE));
  background: -moz-linear-gradient(top,  #CF11AF,  #DE51EE);
}

.errores{
  -webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: #da29ab;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  display: none;
  font-size: 13px;
  margin-top: 12px;
  margin-left: 157px;
  padding: 7px;
  position: absolute;
  z-index: 30;
}