
/*CONTENEDOR PRINCIPAL*/
.principal{
	background-image: url("../img/fondo-1.jpg");
	max-width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
/*CONTENEDOR DE BOTONES*/
.botones{
	width: 95%;
	position: fixed;
	bottom: 100px;
}
/*BOTONES*/
.btn{
	background: transparent;
	width: 32%;
	height: 45%;
	border-color: #FF0078;
	margin: 10px;
	font-family: 'Comfortaa', cursive;
	font-size: 1.8rem;
	color:  #FF0078;

}
/*BOTONES EN HOVER*/
.btn:hover{
	background-color:#FF0078;
	opacity: 0.9;
	border-color: transparent;
}


.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color:#FF0078;
    border-color: #FF0078;
}


.btn:visited {
    color: #fff;
    background-color:#FF0078;
    border-color: #FF0078;}

/*LOGO*/


.logo{
 width: 30%;
 height: 30%;
 margin-top: 10%;
}