
body{
		font-family: 'Comfortaa', cursive;

}



.volver-atras{
    z-index: 20;
      margin-right: -20%;
    font-size: 27px;
    margin: 10% 14% 24% 53%;
    z-index: 29;
    margin-top: -392%;
    position: absolute;
}
.foto-perfil{
    background-image: url("../img/perfil.jpg");
    max-width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
 img{
    width: 400px;
 }


.nombre{
    font-size: 25px;
}

.fecha{
    margin-top: 5%;
}

.contenedor-descripcion{
    margin-top: 8%;;

}

.descripcion{
margin-top: 3%;
    margin-left: 13%;
}

.iconos{
    margin-right: 19px;
    font-size: 26px !important;
    color:rgba(245, 2, 173, 0.94);
}


.editar{
    font-size: 16px;
    color:rgba(1, 0, 255, 0.27)
}
.guardar{
    font-size: 16px;
color:rgba(1, 0, 255, 0.27)}



a { 
    text-decoration: none; 
}

a:hover { 
    text-decoration: none; 
}


.button{
    background-color: #ff00c4;
    position: absolute;
    width: 74%;
    z-index: 20;
    margin-top: -111%;
    margin-left: 84%;
    border: none;
    }