body{
                    font-family: 'Comfortaa', cursive;

}


.fijo{
    position: fixed;
}

.select-country{
	font-size: 20px;
        color: #FF0078;
        margin-top: 1%;
        margin-bottom: 5%;

}

.glyphicon-chevron-left{
	font-size: 30px;
    margin-left: 100%;
    margin-top: 5%;
}

.uno{
	margin-top: 6%;
}

.container-select{
	    margin-left: 205%;
	    	margin-top: 10%;


}
.cerrar{
font-size: 20px;
margin-right: 30%;

}

.common{
	margin-left: 3%;
}

.caja-common{
    border-top: 1px black;
    background-color: rgba(0,0,0,.075);
    padding-bottom: 1%;
    padding-top: 2%;
        border-top: 1px solid gray;

}



.img-bandera{

    max-width: 30%;
    width: 67px;
}

.pais{
    font-size: 14px;
    margin: 6%;
    display:inline-block;

}

.contiene-bandera{
    margin: 2% 2%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 3%;
}

.links-ban:focus, .links-ban:hover {
    color: #FF0078;

    text-decoration: none;
}


.links-ban{
    color: #555;
}

.orden-alfabetico{
    font-size: 12px;
margin-right: 30%;
margin-top:105%;

}
 
 .contenedor-alfabeto{
    position: fixed;
    margin-top: 1%;
 }